{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meat charset="utf-8" />
    <title>{% block title %}My shop{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
  </head>
  <body>
    
    <div id="header">
      <a href="/" class="logo">My shop</a>
    </div>
    
    <div id="subheader">
      <div class="cart">
        {% with total_items=cart|length %}
          {% if cart|length > 0 %}
            你的購物車中:
            <a href="{% url "cart:cart_detail" %}">
              {{ total_items }} 樣商品,
              ${{ cart.get_total_price }}
            </a>
          {% else %}
          購物車中沒有東西。
          {% endif %}
        {% endwith %}
      </div>
    </div>
    
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
